.logo {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}

body {
  background-image: linear-gradient(rgb(255,255,255), pink);
  background-repeat: no-repeat;
  height: 100vh;
}
.container{
    max-width: 1400px;
    margin: auto;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 23px;
}
.message{
background-color: rgb(158, 140, 140);
width: 570px;
padding: 10px;
margin: 17px 12px;
border:2px solid black;
border-radius: 10px;
}
.left{
float:left;
clear:both;
}
.right{
float:right;
clear:both;
}
#send-container{
    display: block;
    margin:auto;

    max-width: 980px;
    width:100%
}
#messageInp{
    width:92%;
    border:2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor:pointer;
    border:2px solid black;
    border-radius: 6;
    height: 34px;
}